/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

/* Main style */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
.container {
  padding: 1em;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  background-color: rgb(216, 216, 216);
  padding: 0.5em 1em;
}

nav {
  display: flex;
  gap: 0.5em;
}

#loginForm {
  display: flex;
  gap: 0.25em;
}
#loginForm input {
  width: 100%;
}
.user-section button {
  padding: 0.125em 0.25em;
  max-width: fit-content;
  cursor: pointer;
  margin-left: 0.5em;
}

h1 {
  color: green;
  font-style: italic;
}

/* Notify messages */
.success, .error {
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-width: 1px;
}
.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}
.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}
.remove{
  background-color: rgb(177, 16, 16);
  border: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}

th {
  text-align: left;
}
tr > * {
  padding: 0.25em 2em 0.25em 0;
}

.field_group{
  display: flex;
  align-items: center;
  gap: 0.25em;
}

@media only screen and (max-width: 676px) {
  header {
    align-items: flex-start;
    flex-direction: column;
  }
  #loginForm {
    flex-direction: column;
  }
  .user-section button {
    margin-left: 0;
  }
}