nav {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
  background-color: rgb(216, 216, 216);
  padding: 0.25em;
}

nav > p {
  margin: 0 0 0 auto;
}

h1 {
  color: green;
  font-style: italic;
}

.blog {
  border: 1px solid #000;
  margin-block: 8px;
  font-size: 15px;
}

.success, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.btn-sort{
  margin-top: 2em;
}

.remove{
  background-color: rgb(177, 16, 16);
  border: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}