/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}

/* Main style */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
nav {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
  background-color: rgb(216, 216, 216);
  padding: 0.5em 1em;
}
.container {
  padding: 1em;
}

nav > p {
  margin: 0 0 0 auto;
}

h1 {
  color: green;
  font-style: italic;
}

.success, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.success {
  color: green;
}
.error {
  color: red;
}
.remove{
  background-color: rgb(177, 16, 16);
  border: transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: white;
  cursor: pointer;
}

.blog {
  border: 1px solid #000;
  margin-block: 8px;
  font-size: 15px;
}

/* Comments */
.comments{
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-top: 1em;
  max-width: 475px;
}
.comments_form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.comments_form textarea {
  width: 100%;
  min-height: 80px;
  max-height: 150px;
  resize: vertical;
}
.comments_form button {
  margin-left: auto;
  padding: 0.5em 1em;
  cursor: pointer;
}
.comments_list {
  margin-top: 1em;
}
.comments_list li {
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
  display: grid;
  gap: 0.5em;
}
.comments_list li:first-child {
  border-top: none;
}
.comments_list small {
  color: #555;
  font-size: 12px;
}
.comments_list p {
  margin-bottom: 0.25em;
}