h1 {
  color: green;
  font-style: italic;
}

.blog {
  border: 1px solid #000;
  margin-block: 8px;
  font-size: 15px;
}

.success, .error {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.btn-sort{
  margin-top: 2em;
}